<!-- Contact area Start-->
<div class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-list">
                    <div class="contact-win">
                        <div class="contact-img" style="margin: auto;">
                            <img src="assets/img/post/1.jpg" alt="" />
                        </div>

                    </div>
                    <div class="contact-ctn">
                        <div class="contact-ad-hd" style="text-align: center;">
                            <h2>John Deo</h2>
                            <p class="ctn-ads">USA, LA, aus</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-list sm-res-mg-t-30">

                    <form>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Họ tên :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Giới tính :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Ngày sinh :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Địa chỉ :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Email :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Số điện thoại :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Dân tộc :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Tôn giáo :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Ngày vào đoàn :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Nơi sinh :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">CMND/TCC:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Họ tên bố :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Họ tên mẹ :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">SĐT bố :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">SĐT mẹ :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Đơn vị công tác bố :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Đơn vị công tác mẹ :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Người dám hộ :</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Cập Nhật</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Contact area End-->