
<!-- Contact area Start-->
<div class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-list">
                    <div class="contact-win">
                        <div class="contact-img" style="margin: auto;">
                            <img src="assets/img/post/1.jpg" alt="" />
                        </div>
                        
                    </div>
                    <div class="contact-ctn">
                        <div class="contact-ad-hd" style="text-align: center;">
                            <h2>John Deo</h2>
                            <p class="ctn-ads">USA, LA, aus</p>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-list sm-res-mg-t-30">
                  
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-example-wrap mg-t-30">                               
                                <div class="form-example-int form-horizental">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                                <label class="hrzn-fm">Họ Tên:</label>
                                            </div>
                                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-12">
                                                <div class="nk-int-st">
                                                   <h5>Họ tên</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-example-int form-horizental mg-t-15">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                                <label class="hrzn-fm">Password :</label>
                                            </div>
                                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-12">
                                                <div class="nk-int-st">
                                                    <h5>Họ tên</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="form-example-int mg-t-15">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        </div>
                                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                            <button class="btn btn-success notika-btn-success">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        
    </div>
</div>
<!-- Contact area End-->